@media screen and (max-widht: 1000px) {
    p {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
    
    .grid-3 {
        gap: 1rem;
    }

    .skills-right ul li {
        
    }
}

@media screen and (max-widht: 825px) {
}

@media screen and (max-widht: 640px) {
}